.advertise .advertise_one {
  position: relative;
}
.advertise .advertise_one .one_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.advertise .advertise_one .one_content .one_title {
  font-size: 60px;
  font-family: SourceHanSansCN-Bold, SourceHanSansCN;
  font-weight: bold;
  color: #ffffff;
}
.advertise .advertise_one .one_content .one_subtitle {
  font-size: 50px;
  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 60px;
}
.advertise .advertise_two {
  background: url('../../img/advertise/bg_two.png');
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
  height: 100%;
}
.advertise .advertise_two .advertise_main {
  width: 1200px;
  margin: 0 auto;
}
.advertise .advertise_two .advertise_main .two_left_line {
  position: relative;
  width: 218px;
  margin-top: 30px;
  margin-bottom: 70px;
  height: 4px;
  left: 80px;
  background: #ff3a00;
  margin-left: 5%;
}
.advertise .advertise_two .advertise_main .two_left_title {
  padding-top: 114px;
  font-size: 45px;
  font-family: SourceHanSansCN-Heavy, SourceHanSansCN;
  font-weight: 800;
  color: #ffffff;
  margin-left: 5%;
}
.advertise .advertise_two .advertise_main .advertise_content {
  display: flex;
  align-items: center;
  padding-bottom: 180px;
}
.advertise .advertise_two .advertise_main .advertise_content .advertise_main_left {
  width: 50%;
  margin-left: 10%;
  margin-right: 2%;
}
.advertise .advertise_two .advertise_main .advertise_content .advertise_main_left .left_item {
  background: #fff;
  padding: 30px 65px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.advertise .advertise_two .advertise_main .advertise_content .advertise_main_left .left_item img {
  margin-right: 45px;
}
.advertise .advertise_two .advertise_main .advertise_content .advertise_main_left .left_item .left_title {
  font-size: 26px;
  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
  font-weight: 400;
  color: #333333;
  line-height: 39px;
  margin-bottom: 10px;
}
.advertise .advertise_two .advertise_main .advertise_content .advertise_main_left .left_item .left_subtitle {
  font-size: 16px;
  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}
.advertise .advertise_two .advertise_main .advertise_content .advertise_main_right {
  width: 40%;
}
.advertise .advertise_three {
  background: url('../../img/advertise/bg_three.png');
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
  height: 100%;
}
.advertise .advertise_three .advertise_main {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 10%;
}
.advertise .advertise_three .advertise_main .two_left_line {
  position: relative;
  width: 218px;
  margin-top: 30px;
  margin-bottom: 70px;
  height: 4px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff3a00;
}
.advertise .advertise_three .advertise_main .two_left_title {
  padding-top: 114px;
  font-size: 45px;
  font-family: SourceHanSansCN-Heavy, SourceHanSansCN;
  font-weight: 800;
  color: #ffffff;
  position: relative;
  text-align: center;
}
.advertise .advertise_three .advertise_main .three_right_line {
  position: absolute;
  right: 5%;
  top: 15%;
}
.advertise .advertise_three .advertise_main .three_left_line {
  position: absolute;
  left: 5%;
  bottom: 5%;
}
.advertise .advertise_three .advertise_main .three_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.advertise .advertise_three .advertise_main .three_content .item {
  width: 30%;
  text-align: center;
  margin-bottom: 6%;
}
.advertise .advertise_three .advertise_main .three_content .item img {
  margin-bottom: 28px;
}
.advertise .advertise_three .advertise_main .three_content .item .item_title {
  font-size: 26px;
  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  line-height: 39px;
  margin-bottom: 10px;
}
.advertise .advertise_three .advertise_main .three_content .item .item_subtitle {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
  font-weight: 400;
  color: #ffffff;
  line-height: 22px;
}
