<div class="common_footer">
  <div class="container">
    <div class="footer">
      <div class="footer_list">
        <div class="list_f">
          <div class="f_title">
            热门服务：
          </div>
          <div class="f_sub">
            <span onclick="next('seo')">SEO优化</span>
            <span onclick="next('advertise')">广告投放</span>
            <span onclick="next('aso')">ASO优化</span>
            <span onclick="next('market')">全网营销</span>
          </div>
        </div>
        <div class="list_f">
          <div class="f_title">
            友情链接：
          </div>
          <div class="f_sub">
            <span>爱创科技</span>
            <span>海推科技</span>
            <span>天天有单</span>
          </div>
        </div>
        <div class="list_f">
          <div class="f_title">
            电话：<span>18578738993</span>
          </div>
          <div class="f_title">
            座机：<span>020-89284724</span>
          </div>
          <div class="f_title">
            邮箱：<span>2306037810@qq.com</span>
          </div>
          <div class="f_title">
            地址：<span>广州市天河区天河客运站天河新天地C座12楼1210室</span>
          </div>
        </div>
        <p class="footer_p">Copyright © 2014-2019 http://www.haituikeji.com 海推科技 粤ICP备17058338号-1</p>
      </div>
      <img src="./img/common/code.png" alt="">
    </div>
  </div>
</div>
<script>
  function next(url) {
    window.location.href = url + '.html'
  };
</script>