<div class="common_head">
  <div class="head_left" onclick="next('index')">
    <img src="./img/common/logo.png" alt="" style="height: 80px;">
  </div>
  <div class="head_right">
    <div class="right_title">
      <div class="title_one" id="home" onclick="next('index')">
        <div class="one_right">H</div>
        <div class="one_left">
          <div>首页</div>
          <div>OME</div>
        </div>
      </div>
      <div class="title_one" id="seo" onclick="next('seo')">
        <div class="one_right">O</div>
        <div class="one_left">
          <div>SEO优化</div>
          <div>PTIMIZATION</div>
        </div>
      </div>
      <div class="title_one" id="advertise" onclick="next('advertise')">
        <div class="one_right">A</div>
        <div class="one_left">
          <div>广告投放</div>
          <div>DVERTISING</div>
        </div>
      </div>
      <div class="title_one" id="market" onclick="next('market')">
        <div class="one_right">M</div>
        <div class="one_left">
          <div>全网营销</div>
          <div>ARKETING</div>
        </div>
      </div>
      <div class="title_one" id="aso" onclick="next('aso')">
        <div class="one_right">A</div>
        <div class="one_left">
          <div>ASO优化</div>
          <div>PPSTORE</div>
        </div>
      </div>
      <div class="title_one" id="case" onclick="next('case')">
        <div class="one_right">C</div>
        <div class="one_left">
          <div>案例</div>
          <div>ASE</div>
        </div>
      </div>
      <div class="title_one" id="about" onclick="next('about')">
        <div class="one_right">A</div>
        <div class="one_left">
          <div>关于我们</div>
          <div>BOUT US</div>
        </div>
      </div>
    </div>
    <img src="./img/common/right_more.png" alt="">
  </div>
</div>
<div class="one_fiexd">
  <div>海推科技</div>
  <div>天天有单</div>
  <div>爱创科技</div>
</div>
<script>
  $(function () {
    switch (window.location.pathname) {
      case '/':
      case '/index.html':
        $('#home').addClass('active')
        break;
      case '/case.html':
        $('#case').addClass('active')
        break;
      case '/about.html':
        $('#about').addClass('active')
        break;
      case '/seo.html':
        $('#seo').addClass('active')
        break;
      case '/aso.html':
        $('#aso').addClass('active')
        break;
      case '/market.html':
        $('#market').addClass('active')
        break;
      default:
        $('#advertise').addClass('active')
        break;
    };
  });
  function next(url) {
    window.location.href = url + '.html'
  };
</script>